.blog-list {
  .main {
    width: 700px;
    background-color: #fff;
    .blog {
      font-size: 14px;
    }
    .topic {

    }
    .blog-item {
      padding: 12px 15px;
    }
    .blog-title {
      font-size: 18px;
      color: #000;
    }
    .blog-content {
      display: flex;
    }
    .blog-text {
      flex: 1;
      text-align: justify;
    }
    .blog-inset {
      width: 130px;
      height: 110px;
      border-radius: 4px;
      margin-left: 15px;
    }
    .blog-modify-time {
      color: rgba(0, 0, 0, .65);
    }
    .blog-operation-item {
      margin-right: 20px;
      cursor: pointer;
      i {
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
}
