.create-blog {
  .dragger-wrap {
    height: 180px;
    width: 700px;
    margin: 0 auto 20px;
  }
  .rich-text-wrap {
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  .ql-toolbar.ql-snow{
    border: none;
    border-bottom: 1px solid #f6f6f6;
  }
  .ql-container.ql-snow{
    border: none;
    min-height: 180px;
  }
}
